<!-- Category Illustration -->
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="wrapper">
                <img src="https://media.swncdn.com/cms/CW/entertainment/movies_tv/objects/25590-back-to-school-shopping-1200.1200w.tn.jpg">   
            </div>
        </div>
    </div>
</div>

<!-- End of Category Illustration -->

<!-- Start of Shopping Grid -->
<div class="container">
    <div class="row">
        <div class="col-md-3" *ngFor='let shop of shops'>
            <div class="item">
                <img src="{{shop.image}}" alt="item">
                <h4>{{shop.name}}</h4>
                <p>Ksh {{shop.cost}}-{{shop.quantity}}</p>
                <!-- <button routerLink="/view"><i class="fas fa-eye"></i></button>
                <button routerLink="/cart"><i class="fas fa-shopping-cart"></i></button> -->
                <button (click)="_addItemToCart(product._id, 1)"><i class="fas fa-shopping-cart"></i>Add to Cart</button>
            </div>
        </div>       
    </div>
</div>
<br><br><br>
<!-- End of Shopping Grid -->

