<!-- Footer -->
<footer class="page-footer font-small unique-color-dark pt-4">
    <!-- Footer Links -->
    <div class="container text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Content -->
                <h5 class="font-weight-bold text-uppercase mb-4">ABOUT US</h5>
                <p><span>e</span>Mwanafunzi</p>
                <p>We ensure all school going students acquire all the school shopping they need at their convenience
                </p>
                <p>It's that <span> simple</span> <span> efficient</span> and <span> transparent</span>!</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Links -->
                <h5 class="font-weight-bold text-uppercase mb-4">LINKS</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <a href="/">HOME</a>
                        </p>
                    </li>
                    <li>
                        <p>
                            <a routerLink="/cart">CART</a>
                        </p>
                    </li>
                    <li>
                        <div class="btn-group" mdbDropdown>
                            <a mdbDropdownToggle
                                type="button" class="dropdown-toggle waves-light" mdbWavesEffect>
                                CATEGORIES
                            </a>
                            <div class="dropdown-menu dropdown-primary">
                                <a class="dropdown-item" routerLink="shopA" style="color: navy;">Snacks</a>
                                <a class="dropdown-item" routerLink="shopB" style="color: navy;">Toiletries</a>
                                <a class="dropdown-item" routerLink="shopC" style="color: navy;" >Books</a>
                                <a class="dropdown-item" routerLink="shopD" style="color: navy;">Stationery</a>
                                <a class="dropdown-item" routerLink="shopE" style="color: navy;">Uniform</a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">

                <!-- Contact details -->
                <h5 class="font-weight-bold text-uppercase mb-4">CONTACT US</h5>

                <ul class="list-unstyled">
                    <li>
                        <p>
                            <i class="fas fa-envelope mr-3"></i> emwanafunzi@gmail.com</p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-phone mr-3"></i> +254712348878</p>
                    </li>
                    <li>
                        <p>
                            <i class="fas fa-phone mr-3"></i> + 254711111111</p>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none">

            <!-- Grid column -->
            <div class="col-md-2 col-lg-2 text-center mx-auto my-4">

                <!-- Social buttons -->
                <h5 class="font-weight-bold text-uppercase mb-4">FOLLOW US</h5>

                <!-- Facebook -->
                <a type="button" style="padding-right: 15px ;" class="btn-floating btn-fb">
                    <i class="fab fa-facebook-f"></i>
                </a>
                <!-- Twitter -->
                <a type="button" style="padding-right: 15px ;" class="btn-floating btn-tw">
                    <i class="fab fa-twitter"></i>
                </a>
                <!-- Google +-->
                <a type="button" style="padding-right: 15px ;" class="btn-floating btn-gplus">
                    <i class="fab fa-google-plus-g"></i>
                </a>
                <!-- Dribbble -->
                <a type="button" style="padding-right: 5px ;" class="btn-floating btn-dribbble">
                    <i class="fab fa-dribbble"></i>
                </a>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a> eMwanafunzi</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->