<div class="container" style="height: 650px;">
</div>
<div class="login-box" style="margin-top:50px">
  <h2 style="font-weight: bold;"><span style="color: orange;">e</span>Mwanafunzi</h2>
  <form action="">
      <div class="user-box">
          <input type="text" name="" required="">
          <label>Username</label>
      </div>
      <div class="user-box">
          <input type="email" name="" required="">
          <label>Email</label>
      </div>
      <div class="user-box">
          <input type="password" name="" required="">
          <label>Password</label>
      </div>
      <a routerLink="/">
          <span></span>
          <span></span>
          <span></span>
          <span></span>
          LogIn
      </a>
  </form>
  <hr>
  <p style="color: whitesmoke;">Don't have an account?<a style="color: #30E9F4;" routerLink="/register"> Register</a>
  </p>
</div>
<br><br>